---
---

html[data-theme='dark'] .content img {
  border: 2px solid var(--color-foreground);
}

.profiles {
  margin: 10px 0;
  height: 25px;

  & a {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    & svg {
      height: 100%;

      & > path {
        fill: var(--color-foreground);
      }
    }
  }
}
