---
---

.content {
  & img {
    border-radius: calc(2 * var(--border-radius));
  }

  & .profiles {
    margin: 10px 0;
    height: 25px;

    & a {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      & svg {
        height: 100%;

        & > path {
          fill: var(--color-foreground);
        }
      }
    }
  }
}
