---
---


.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px 0;

  & img {
    width: 100%;
    border-radius: 50%;
  }

  & .bio {
    margin-left: 50px;
  }

  & h2 {
    margin: 0;
  }

  & .socials {
    margin: 10px 0;
    height: 25px;

    & a {
      margin-right: 10px;
      
      &:last-child {
        margin-right: 0;
      }

      & svg {
        height: 100%;

        & > path {
          fill: var(--color-foreground);
        }
      }
    }
  }
}

.courses {
  overflow: auto;
  display: flex;
  flex: 1;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  & .course {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    border: 2px solid var(--color-inactive);
    border-radius: var(--border-radius);
    padding: 10px;

    & h5, h6 {
      margin: 0;
    }

    & h6 {
      color: var(--color-inactive);
    }

    & p {
      font-size: 0.8rem;
    } 
  } 
}

.project {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    max-height: 150px;
    width: auto;
  }

  & h3 {
    margin: 5px 0;

    & a {
      font-weight: bold;
      color: var(--color-foreground);
      transition: var(--transition-ease);

      &:hover {
        color: var(--color-active);
      }
    }
  }

  & .subtitle {
    display: flex;
    align-items: center;

    & .tag {
      border-radius: 50px; /* something big */
      color: var(--color-background);
      padding: 0 7.5px;
      font-size: 0.75rem;
      margin: 2.5px;

      &:first-child {
        margin-left: 10px;
      }

      &.math {
        background-color: var(--color-tag-math);
      }

      &.eecs {
        background-color: var(--color-tag-eecs);
      }

      &.misc {
        background-color: var(--color-tag-misc);
      }

      &.bk {
        background-color: var(--color-tag-bk);
      }
    }
  }
}
