---
---

.name {
  margin-top: 10rem;

  & svg {
    & path {
      stroke-width: 0.75;
      stroke-linecap: round;
      stroke: var(--color-foreground);
      fill: var(--color-foreground);
    }

    &.animated {
      display: none;

      & path {
        animation: 2s ease forwards writeIn;
        fill-opacity: 0;
        display: none;
      }
    }
  }

  & h2 {
    margin: 0;
  }
}

@keyframes writeIn {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

.post {
  padding: 10px 0;

  & h3 {
    margin: 5px 0;

    & a {
      font-weight: bold;
      color: var(--color-foreground);
      transition: var(--transition-ease);

      &:hover {
        color: var(--color-active);
      }
    }
  }

  & .subtitle {
    display: flex;
    align-items: center;

    & .tag {
      border-radius: 50px; /* something big */
      color: var(--color-background);
      padding: 0 7.5px;
      font-size: 0.75rem;
      margin: 2.5px;

      &:first-child {
        margin-left: 10px;
      }

      &.math {
        background-color: var(--color-tag-math);
      }

      &.cs {
        background-color: var(--color-tag-cs);
      }
    }
  }
}
