---
---

.content {
  & img {
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    display: block;
  }

  & .header {
    margin-bottom: calc(2 * var(--margin-vertical));

    & h1 {
      margin: 0;
    }
  }

  & .qed {
    margin: 0 auto;
  }

  & #footnote-toast {
    position: fixed;
    padding: var(--margin-vertical);
    opacity: 0;
    bottom: 0;
    right: 100px;
    width: 350px;
    border: 2px solid var(--color-inactive);
    border-radius: var(--border-radius);
    transition: var(--transition-ease-fast);
    background-color: var(--color-background);

    &.active {
      opacity: 100%;
      bottom: 50px;
    }

    @media (max-width: 800px) {
      & {
        display: none;
      }
    }
  }
}
