* {
  box-sizing: border-box;
}

@mixin theme-light {
  --color-foreground: #262626;
  --color-background: white;
  --color-active: #41aade;
  --color-inactive: #a3a3a3;
  --color-separator: #eaeaea;
  --color-blockquote: rgba(0, 0, 0, 0.05);
}

@mixin theme-dark {
  --color-foreground: white;
  --color-background: #262626;
  --color-active: #67ccff;
  --color-inactive: #dbdbdb;
  --color-separator: #eaeaea;
  --color-blockquote: rgba(255, 255, 255, 0.15);
}

html,
html[data-theme='light'] {
  @include theme-light;
}

html[data-theme='dark'] {
  @include theme-dark;
}

@media (prefers-color-scheme: dark) {
  html,
  html[data-theme='dark'] {
    @include theme-dark;
  }

  html[data-theme='light'] {
    @include theme-light;
  }
}

html {
  overflow: hidden scroll;
  background-color: var(--color-background);
  color: var(--color-foreground);

  --transition-ease: all 0.2s ease;
  --transition-ease-fast: all 0.15s ease;
  --border-radius: 5px;
  --margin-vertical: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-active);
}

p {
  margin: var(--margin-vertical) 0;
}

img {
  width: 100%;
  border-radius: var(--border-radius);
}

blockquote {
  margin: var(--margin-vertical) 0;
  background-color: var(--color-blockquote);
  border-radius: var(--border-radius);

  --blockquote-padding: 20px;
  --blockquote-border-width: 5px;

  padding: var(--blockquote-padding);
  padding-left: calc(var(--blockquote-padding) - var(--blockquote-border-width));
  border-left: var(--blockquote-border-width) solid var(--color-inactive);
}

span.subtitle {
  color: var(--color-inactive);
}
