* {
  box-sizing: border-box;
}

@mixin theme-light {
  --color-foreground: #262626;
  --color-background: white;
  --color-active: #41aade;
  --color-inactive: #a3a3a3;
  --color-separator: #eaeaea;
  --color-blockquote: rgba(0, 0, 0, 0.05);
  --color-inline-code: rgba(0, 0, 0, 0.1);
}

@mixin theme-dark {
  --color-foreground: white;
  --color-background: #262626;
  --color-active: #67ccff;
  --color-inactive: #dbdbdb;
  --color-separator: #eaeaea;
  --color-blockquote: rgba(255, 255, 255, 0.15);
  --color-inline-code: rgba(255, 255, 255, 0.2);
}

html,
html[data-theme='light'] {
  @include theme-light;
}

html[data-theme='dark'] {
  @include theme-dark;
}

@media (prefers-color-scheme: dark) {
  html,
  html[data-theme='dark'] {
    @include theme-dark;
  }

  html[data-theme='light'] {
    @include theme-light;
  }
}

html {
  overflow: hidden scroll;
  background-color: var(--color-background);
  color: var(--color-foreground);

  --transition-ease: all 0.2s ease;
  --transition-ease-fast: all 0.15s ease;
  --border-radius: 5px;
  --margin-vertical: 10px;
  --inset-padding: 20px;

  --color-tag-math: #0785ed;
  --color-tag-eecs: #fc3f58;
  --color-tag-misc: #07c741;
  --color-tag-bk: #2ec9f4; 
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  height: auto;
  display: flex;
  justify-content: center;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-active);
}

p {
  margin: 0;
}

img {
  width: 100%;
  border-radius: var(--border-radius);
}

blockquote {
  margin: var(--margin-vertical) 0;
  background-color: var(--color-blockquote);
  border-radius: var(--border-radius);

  --blockquote-border-width: 5px;

  padding: var(--inset-padding);
  padding-left: calc(var(--inset-padding) - var(--blockquote-border-width));
  border-left: var(--blockquote-border-width) solid var(--color-inactive);
}

span.subtitle {
  color: var(--color-inactive);
}

.highlight {
  border-radius: var(--border-radius);
}

pre {
  border-radius: var(--border-radius);
  padding: var(--inset-padding);
  white-space: pre;
  overflow-x: auto;
  word-break: break-all;
  margin: var(--margin-vertical) 0;
}

code.language-plaintext {
  padding: 0.25em;
  background-color: var(--color-inline-code);
}

pre code {
  color: white; /* since code blocks are always dark */
}
