html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.7;
  font-size: 16px;
}

h1, h2 {
  font-family: "panel-sans";
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0;
}

h5, h3 {
  font-family: "panel-sans";
  font-weight: 900;
}
